@model AsistenciaDocenteModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Asistencia Docente";
}

<!-- Pasar esto a .NET -->
<div id="layoutSidenav_content">
    <main class="container-fluid px-4">
        <div class="container-fluid px-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header">
                                <h3 class="text-center font-weight-light my-4">Buscar docente</h3>
                            </div>
                            <div class="card-body">
                                <form asp-action="AsistenciaDocente" method="get">
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <div class="form-floating mb-3 mb-md-0">
                                                <input asp-for="NombreDocente" class="form-control" id="inputNombre" type="text"
                                                       placeholder="Nombre" />
                                                <label for="inputNombre">Nombre</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-floating">
                                                <input asp-for="ApellidoDocente" class="form-control" id="inputApellido" type="text"
                                                       placeholder="Apellido" />
                                                <label for="inputApellido">Apellido</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-4 mb-0">
                                        <div class="d-grid">
                                            <button class="btn btn-primary btn-block" type="submit">Buscar Docente</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @if (Model.HasItems)
        {
                   <!-- Datos que retorna la aplicacion -->
            <div class="container-fluid px-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-body">
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <input class="form-control" asp-for="NombreDocente" id="nombre" type="text" disabled/>
                                            </div>
                                            <div class="col-md-6">
                                                <input class="form-control" asp-for="ApellidoDocente" id="apellido" type="text" disabled/>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <input asp-for="Curso" class="form-control" id="curso" type="text" disable/>
                                            </div>
                                            <div class="col-md-6">
                                                <input asp-for="Espacio" class="form-control" id="espacio" type="text" />
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <input asp-for="Deporte" class="form-control" id="deporte" type="text" disabled/>
                                            </div>
                                            <div class="col-md-6">
                                                <input asp-for="numEstudiantes" class="form-control" id="numEstudiantes" type="number" disabled/>
                                            </div>
                                        </div>
                                        <form asp-action="PrestamoMaterial" method="post">      
                                            <div class="form-group row">
                                            
                                                    <input name="idDocente asp-for="IDDocente" hidden>
                                                    <div class="col-lg-12">
                                                    <label>Selecciona el(los) recurso(s) a prestar</label>
                                                    <select multiple class="selectpicker form-control"
                                                            name="materiales" data-container="body"
                                                            data-live-search="true" title="Select a number"
                                                            data-hide-disabled="true" data-actions-box="true"
                                                            data-virtual-scroll="false" asp-items="Model.ElementosDisp">
                                                        <!--<option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>-->
                                                    
                                                    </select>
                                                </div>

                                            </div>
                                            <div class="mt-4 mb-0">
                                                <div class="d-grid">
                                                    <button class="btn btn-primary btn-block" type="submit">Guardar Prestamo</button>
                                                </div>
                                            </div>
                                        </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        } else if (Model.NombreDocente!=null ||  Model.ApellidoDocente!= null)
        {
            <h2 class="text-center text-danger">No se encontrarón datos</h2>
        }

    </main>
</div>
<!-- -->