@model AsistenciaMiembroModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- Pasar esto a .NET -->
<div id="layoutSidenav_content">
    <main class="container-fluid px-4">
        <div class="container-fluid px-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header">
                                <h3 class="text-center font-weight-light my-4">Buscar Equipo</h3>
                            </div>
                            <div class="card-body">
                                <form asp-action="AsistenciaMiembro" method="get">
                                    <div class="row mb-3">
                                        <div class="form-floating mb-3">
                                            <div class="form-floating mb-3 mb-md-0">
                                                <input class="form-control" asp-for="Codigo"  />
                                                <label for="inputCodigo">Codigo</label>
                                            </div>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <div class="form-floating mb-3 mb-md-0">
                                                <input class="form-control" asp-for="EquipoID" type="number" />
                                                <label for="inputEquipo">Equipo</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-4 mb-0">
                                        <button class="btn btn-primary btn-block" type="submit">Buscar
                                                equipo</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Datos que retorna la aplicacion -->
        @if (Model.IsCompleted)
        {
            <h1 class="text-center text-success">Se ingreso la asistencia correctamente</h1>
        }
        else if (Model.Codigo!=null)
        {
            <h1 class="text-center text-danger">No se pudo ingresar la asistencia</h1>
        }


    </main>
</div>
<!-- -->