@model AsistenciaPasanteModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- Pasar esto a .NET -->
<div id="layoutSidenav_content">
    <main class="container-fluid px-4">
        <div class="container-fluid px-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header">
                                <h3 class="text-center font-weight-light my-4">Buscar estudiante</h3>
                            </div>
                            <div class="card-body">
                                <form asp-action="AsistenciaPasante" method="get">
                                    <div class="row mb-3">
                                        <div class="form-floating mb-3">
                                            <div class="form-floating mb-3 mb-md-0">
                                                <input class="form-control" asp-for="codEstudiante" type="text" />
                                                <label for="inputCod">Codigo</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-4 mb-0">
                                        <div class="d-grid">
                                            <button class="btn btn-primary btn-block" type="submit">Buscar
                                                estudiante</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Datos que retorna la aplicacion -->
        @if (Model.HastItems)
        {
            <div class="container-fluid px-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-body">  
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <input class="form-control" asp-for="nombrePractica" type="text" disabled/>
                                            </div>
                                            <div class="col-md-6">
                                                <input class="form-control" asp-for="Espacio.NomEspacio" type="text" disabled/>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <input class="form-control" asp-for="Deporte.Nombre" type="text" disabled/>
                                            </div>
                                            <div class="col-md-6">
                                                <input class="form-control" asp-for="numEstudiantes" type="number" disabled/>
                                            </div>
                                        </div>
                                        <form asp-action="PrestamoMaterial" method="post">
                                            <div class="form-group row">
                                            <div class="col-lg-12">
                                                <input asp-for="codEstudiante" name="idDocente" hidden>
                                                <label>Selecciona el(los) recurso(s) a prestar</label>
                                                <select name="materiales" multiple class="selectpicker form-control"
                                                        id="number-multiple" data-container="body"
                                                        data-live-search="true" title="Select a number"
                                                        data-hide-disabled="true" data-actions-box="true"
                                                        data-virtual-scroll="false" asp-items="Model.ElementosDisp">
                                                        <!--                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>-->

                                                </select>
                                            </div>
                                        </div>
                                        <div class="mt-4 mb-0">
                                            <div class="d-grid">
                                                <button class="btn btn-primary btn-block" type="submit">Guardar</button>
                                            </div>
                                        </div>
                                        </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else if(Model.codEstudiante!=null)
        {
            <h1 class="text-center text-danger"></h1>
        }
    </main>
</div>
<!-- -->